body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

img.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 2rem;
}
.profession {
    text-align: center;
    margin-top: 1.0rem; /* Adjust margin as needed */

}

@media (min-width: 768px) {
    .header-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profession {
        margin-top: 4rem; /* Reset margin for larger screens */
        margin-left: 1.8rem; /* Adjust margin to position text next to the picture */
    }
}


/* .profession {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} */

.social-links {
    position: absolute;
    right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social-links a {
    color: white;
    text-decoration: none;
    margin: 0.5rem 0;
    transition: color 0.3s ease-in-out;
}

header .social-links a:hover {
    color: #8f8f8f;
}

header h1, header h2 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color:  #8f8f8f;
}

section {
    padding: 2rem;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

ul {
    list-style-type: none;
    padding: 0;
}
#my_skills{
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    margin: 0.5rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.my_skills{
    /* background-color: white; */
    padding: 0.5rem;
    margin: 0.5rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ul li {
    background-color: rgb(156, 81, 81);
    padding: 0.5rem;
    margin: 0.5rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */
.activities{
    background-color: white;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s ease-in-out;
}
.activities:hover{
    transform: scale(1.02);
}
.project {
    background-color: white;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out;
}

.project:hover {
    transform: scale(1.0);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
